body {
    background-color: rgb(239, 239, 216);
    font-family: Inter, sans-serif;
}
header {
width: 70%;
height: auto;
margin: 0 auto;
text-align: center;
min-width: 220px;
}
header div {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
h1 {
    font-size: 2rem;
    font-weight: bolder;
}
p {
    font-size: 1.2rem;
}
.book {
    border: 2px solid black;
width: 85%;
height: auto;
min-width: 220px;
margin: 1rem auto;
border-radius: 10px;
}
